@page "/bindprop"
@using Model

<div class="bg-light border p-2">
    <h2 class="bg-light border p-2">
        First Room
    </h2>
    Room: @Room.RoomName
    <br />
    Price: @Room.Price
    <br />
    <input type="number" @bind-value="@Room.Price" @bind-value:event="oninput" />
    <br />
    <input type="checkbox" @bind-value="Room.IsActive" checked="@(Room.IsActive?"checked":null)" /> &nbsp; Is Active
    <br />
    <span>This room is @(Room.IsActive?"Active":"Inactive")</span>
    <br />
    <select @bind="SelectedRoomProp">
        @foreach (var prop in Room.RoomProps)
        {
            <option value="@prop.Name">@prop.Name</option>
        }
    </select>
    <span>The Room Prop selected is : @SelectedRoomProp</span>
</div>

<div>
    <br />
    <h2 class="text-info">Room List[Assignment 2]</h2>
    <table class="table table-dark">
        @foreach(var room in RoomsList)
            {
        <tr>
            <td>
                <input type="text" @bind-value="room.RoomName" @bind-value:event="oninput" />
            </td>
            <td>
                <input type="text" @bind-value="room.Price" @bind-value:event="oninput" />
            </td>
            @foreach(var roomProp in room.RoomProps)
                {
                    <td>@roomProp.Name - @roomProp.Value</td>
                }
        </tr>
            }
    </table>
    <br />
    @foreach(var room in RoomsList)
            {
                <p>@room.RoomName's Price is @room.Price</p>
            }
</div>
@code{
    string SelectedRoomProp = "";
    List<BlazorRoom> RoomsList = new List<BlazorRoom>();

    BlazorRoom Room = new BlazorRoom()
    {
        Id = 1,
        RoomName = "Yudha Suite",
        IsActive = true,
        Price = 500,
        RoomProps = new List<Model.BlazorRoomProp>{
                new BlazorRoomProp {Id = 1, Name="Sq ft", Value="200"},
                new BlazorRoomProp {Id = 21, Name = "Occupancy", Value = "5" },
            }
    };

    protected override void OnInitialized()
    {
        base.OnInitialized();

        RoomsList.Add(new BlazorRoom(){
            Id = 1,
            RoomName = "Villa Yudha Two Bed Room",
            IsActive = true,
            Price = 500,
            RoomProps = new List<Model.BlazorRoomProp>{
                new BlazorRoomProp {Id = 1, Name="Sq ft", Value="200"},
                new BlazorRoomProp {Id = 21, Name = "Occupancy", Value = "5" },
            }
        });

        RoomsList.Add(new BlazorRoom()
        {
            Id = 2 ,
            RoomName = "Villa Yudha One Bed Room",
            IsActive = true,
            Price = 500,
            RoomProps = new List<Model.BlazorRoomProp>{
                new BlazorRoomProp {Id = 1, Name="Sq ft", Value="200"},
                new BlazorRoomProp {Id = 21, Name = "Occupancy", Value = "5" },
            }
        });
    }
}